body {
    
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    background: rosybrown;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    justify-content: center;
    margin-right: 150px;

}

.navigation-menu {
    display: flex;
    display: inline-block;
}

.navigation-menu ul {
    display: flex;
}

.navigation-menu ul li {

    margin: 10px;
}