body {
    padding: 0;
    margin: auto;
    width: 70vw;
    height: 100vh;
    background-color: #000;

    display: grid;

    grid-template-rows: repeat(5, 1fr);
}

/*.container {
    width: 100vw;
    height: 100vh;

    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

}

.container div {
    padding: 10px;
    border: 1px solid #000;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.content-large {
    grid-row-start: 2;
    grid-row-end: span 2;
}

.footer {
    grid-column: 1 /span 3;


}*/

.container-header {
    background-color: #9d3434;
    width: auto;
    height: 100vh;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
}

.container-header .logo {
    background-color: #1588b6;
    width: 100px;
    height: 50px;
    justify-self: center;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.container-header .navigation {
    background-color: aquamarine;
    width: 400px;
    height: 20px;
    justify-self: end;
    align-self: center;
    margin-right: 60px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.container-header img {
    background-color: #853a9e;

    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.container-header .titre {
    display: flex;
    grid-row: 2 / 3;
    
}

.container-section-un {
    background-color: #3a609e;
    width: auto;
    height: 600px;

    border: 1px solid #000;

    grid-row: 2 / 3;
}

.container-section-deux {
    background-color: #9e643a;
    width: auto;
    height: 600px;

    border: 1px solid #000;

    grid-row: 3 / 4;
}

.container-section-trois {
    background-color: #9e3a60;
    width: auto;
    height: 600px;

    border: 1px solid #000;

    grid-row: 4 / 5;
}

.container-footer {
    background-color: #1588b6;
    width: auto;
    height: 10vh;
    grid-row: 5 / 6;
}
    
